
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Group Chat</title>
</head>
<body>
    <h1>Group Chat</h1>
    You are logged in as {{ user }}
    <a href="/logout">logout</a>

    <h2>Available chats</h2>
    {% for chat in all_chats %}
    <p>
        <form method="post" action="/chats">
            {{ chat }}
            <input type=hidden name=chatid value={{ chat.id }}>
            <input type=submit value="join">
        </form>
    </p>
    {% endfor %}

    <form method="post" action="/chats">
        <input type=text name=chatname placeholder="new chat group">
        <input type=submit value="Create new chat">
    </form>

    <h2>Joined chats</h2>
    {% for chat in my_chats %}
    <p>
        <form method="post" action="/chats">
            {{ chat }}
            <input type=hidden name=membershipid value={{ chat.membership_id }}>
            <input type=submit value="leave">
        </form>
    </p>
    {% endfor %}
</body>
</html>